{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
  <h1 class="center-align">StalkHub</h1>
  <div class="row exact-center">
    <form class="col s12">
      <div class="row">
      	<div class="input-field col s2"></div>
        <div class="input-field col s8">
          <input id="Github User name" type="text" class="validate">
          <label for="Github user-name">Github User-name</label>
        </div>
        <div class="input-field col s2"></div>
      </div>
    </form>
  </div>
 </div>
{% endblock %}




