{% extends "layout.html" %}

{% block title %}
    {{ basic.name }}'s Profile 
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h1 class="center-align" id="head"><a href="{{ url_for('index') }}"> StalkHub</a></h1>
			</div>
		</div>
		<div class="divider" style="margin-bottom: 50px;"></div>

		<div class="row">
			<div class="col s12 m3 l3">
	        	<div class="row">
	        		<img class="responsive-img materialboxed" src="{{ basic.avatar_url }}">
	        	</div>
	        </div>
	        <br>
	        <div class="col s12 m9 l9" style="padding-left: 50px">
	        	<div class="row">
	        		{% if basic.bio != None %}
		        	<span class="flow-text">{{ basic.name }}</span>
		        	{% endif %}
		        	<small class="flow-text"><a href="{{ basic.html_url }}" target="_blank">@{{ basic.login }}</a></small><br>
					{% if basic.bio != None %}
		        		<span class="flow-text">Bio: <i class="red-text">{{ basic.bio }}</i></span><br>
					{% endif %}
		        	{% if basic.company != None %}
		        		<span class="flow-text">Works at : <span class="red-text">{{ basic.company }}</span></span><br>
		        	{% endif %}
		        	{% if basic.location != None %}
		        		<span class="flow-text">Location : <span class="red-text">{{ basic.location }}</span></span><br>
					{% endif %}
		        	{% if basic.blog != "" %}
		        		<span class="flow-text">Website : <span class="red-text"><a href="{{ basic.blog }}" target="_blank">{{ basic.blog }}</a></span></span><br>
					{% endif %}
				</div>
	        </div>
		</div>

		<div class="row">
			<div class="col m3 l3 s6">
				<a href="{{ basic.html_url }}?tab=followers" target="_blank">
					<div class="card-panel hoverable center-align flow-text">
	      				<span class="blue-text text-darken-2">Followers<br>{{ basic.followers }}</span>
	    			</div>
    			</a>
			</div>
			<div class="col m3 l3 s6">
				<a href="{{ basic.html_url }}?tab=following" target="_blank">
					<div class="card-panel hoverable center-align flow-text">
	      				<span class="blue-text text-darken-2">Following<br>{{ basic.following }}</span>
	    			</div>
	    		</a>
			</div>
			<div class="col m3 l3 s6">
				<a href="{{ basic.html_url }}?tab=repositories" target="_blank">
					<div class="card-panel hoverable center-align flow-text">
	      				<span class="blue-text text-darken-2">Repos<br>{{ basic.public_repos }}</span>
	    			</div>
	    		</a>
			</div>
			<div class="col m3 l3 s6">
				<a href="https://gist.github.com/{{ basic.login }}" target="_blank">
					<div class="card-panel hoverable center-align flow-text">
	      				<span class="blue-text text-darken-2">Gists<br>{{ basic.public_gists }}</span>
	    			</div>
	    		</a>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col s12 m12 l12">

				<ul class="collapsible" data-collapsible="accordion">
    				<li>
      					<div class="collapsible-header"><i class="material-icons">work</i>{{ basic.name }}'s Activity</div>
      					<div class="collapsible-body">
      						<span>
      							<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fgithub.com%2F{{ basic.login }}.atom&date=y&targ=y&utf=y&html=p"  charset="UTF-8" type="text/javascript"></script>
								<noscript>
									<a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fgithub.com%2F{{ basic.login }}.atom&date=y&targ=y&utf=y&html=y">View RSS feed</a>
								</noscript>
      						</span>
      					</div>
    				</li>
    			</ul>
			</div>
		</div>

		<hr>

		<div class="row">
			{% if watch != None %}
			<div class="col m12 l12 s12">
				<div class="card #0277bd light-blue darken-3">
		            <div class="card-content white-text">
		              <span class="card-title">{{ basic.name }}'s Watchlist</span>
						{% for item in watch %}
							<div class="chip truncate"><a href="{{ item.html_url }}" target="_blank">{{ item.name }}</a></div>
						{% endfor %}
		            </div>
          		</div>
			</div>
			{% endif %}

			{% if org != None %}
			<hr>
			<div class="col m12 l12 s12">
				<div class="card #0277bd light-blue darken-3">
		            <div class="card-content white-text">
		              <span class="card-title">{{ basic.name }}'s organization(s)</span>
						{% for item in org %}
							<div class="chip">
								<img src="{{ item.icon }}" alt="{{ item.name }}">
								<a href="{{ item.url }}">{{ item.name }}</a>
							</div>
						{% endfor %}
		            </div>
          		</div>
			</div>
			{% endif %}

		</div>

		<div class="divider"></div>
		
		

	</div>
{% endblock %}




